.DS_Store
/node_modules
/dist
/.hbuilderx
/.vite
/.idea
/unpackage
/utils/config.js

# local env files
.env.development
.env.*.local
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
